
params {
    // Parameters for seqSpecParser
    seqSpecDirectory = "example_data"
    seqSpec_yaml_guide = "guide.yml"

    // Parameters for downloadGenome
    genome_path = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz'

    // Parameters for creatingGuideIndex
    guide_features = 'example_data/GUIDE_LIFTED_OVERHG38_YANHUA.xlsx'

    // Parameters for mappingGuide
    fastq_file1 = "example_data/guide_R1.fq"
    fastq_file2 = "example_data/guide_R2.fq"
}
