params.MappingDirectory = "example_data"
params.out_name_dir = "MappingOutput"
params.fastq_file1 = "scRNA_R1.fq"
params.fastq_file2 = "scRNA_R2.fq"
params.transcriptome_idx = "transcriptome_index.idx"
params.transcriptome_t2g = "transcriptome_t2g.txt"
params.parsed_seqSpec_file = "rna_parsed_seqSpec.txt"
params.whitelist = "3M-february-2018.txt"
