params {
    // Parameters for seqSpec workflows
    seqSpecDirectory = "IGVF_CRISPR_Pipeline/seqspeccode_v3/example_data"
    seqSpec_yaml_rna = "rna.yml"
    seqSpec_yaml_guide = "guide.yml"
    seqSpec_yaml_multiseq = "multiseq.yml"

    // Parameters for download workflow
    TRANSCRIPTOME_REFERENCE = "human"

    // Parameters for mapping workflow
    out_name_dir = "IGVF_CRISPR_Pipeline/kb_mapping/example_data/MappingOutput"
    fastq_file1 = "IGVF_CRISPR_Pipeline/kb_mapping/example_data/scRNA_R1.fq"
    fastq_file2 = "IGVF_CRISPR_Pipeline/kb_mapping/example_data/scRNA_R2.fq"
    whitelist = "IGVF_CRISPR_Pipeline/kb_mapping/example_data/3M-february-2018.txt"
}
