
params {
    // Parameters for seqSpec workflows
    seqSpecDirectory = "example_data"
    seqSpec_yaml_rna = "rna.yml"

    // Parameters for download workflow
    TRANSCRIPTOME_REFERENCE = "human"

    // Parameters for mapping workflow
    fastq_file1 = "example_data/scRNA_R1.fq"
    fastq_file2 = "example_data/scRNA_R2.fq"
}
