
params {
    // Parameters for seqSpecParser
    seqSpecDirectory = "example_data"
    seqSpec_yaml_rna = "rna2.yml"

    // Parameters for download workflow
    TRANSCRIPTOME_REFERENCE = "human"

    // Parameters for mappingGuide
    fastq_files_rna = "example_data/fastq_files_rna"
    fastq_file1_rna = "bamtofastq_S1_L001_R1_001.fastq.gz; bamtofastq_S1_L002_R1_001.fastq.gz; bamtofastq_S1_L003_R1_001.fastq.gz; bamtofastq_S1_L004_R1_001.fastq.gz; bamtofastq_S1_L005_R1_001.fastq.gz; bamtofastq_S1_L006_R1_001.fastq.gz; bamtofastq_S1_L007_R1_001.fastq.gz; bamtofastq_S1_L008_R1_001.fastq.gz; bamtofastq_S1_L009_R1_001.fastq.gz; bamtofastq_S1_L0010_R1_001.fastq.gz; bamtofastq_S1_L0011_R1_001.fastq.gz; bamtofastq_S1_L0012_R1_001.fastq.gz; bamtofastq_S1_L0013_R1_001.fastq.gz; bamtofastq_S1_L0014_R1_001.fastq.gz; bamtofastq_S1_L0015_R1_001.fastq.gz; bamtofastq_S1_L0016_R1_001.fastq.gz"
    fastq_file2_rna = "bamtofastq_S1_L001_R2_001.fastq.gz; bamtofastq_S1_L002_R2_001.fastq.gz; bamtofastq_S1_L003_R2_001.fastq.gz; bamtofastq_S1_L004_R2_001.fastq.gz; bamtofastq_S1_L005_R2_001.fastq.gz; bamtofastq_S1_L006_R2_001.fastq.gz; bamtofastq_S1_L007_R2_001.fastq.gz; bamtofastq_S1_L008_R2_001.fastq.gz; bamtofastq_S1_L009_R2_001.fastq.gz; bamtofastq_S1_L0010_R2_001.fastq.gz; bamtofastq_S1_L0011_R2_001.fastq.gz; bamtofastq_S1_L0012_R2_001.fastq.gz; bamtofastq_S1_L0013_R2_001.fastq.gz; bamtofastq_S1_L0014_R2_001.fastq.gz; bamtofastq_S1_L0015_R2_001.fastq.gz; bamtofastq_S1_L0016_R2_001.fastq.gz"
}
