params {
    // Parameters for seqSpecParser
    seqSpecDirectory = "example_data"
    seqSpec_yaml_guide = "guide2.yml"

    // Parameters for downloadGenome
    genome_path = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz'

    // Parameters for creatingGuideIndex
    guide_features = 'example_data/gasperini_tss.xlsx'

    // Parameters for mappingGuide
    fastq_files_guide = "example_data/fastq_files_guide"
    fastq_file1_guide = "bamtofastq_S1_L001_R1_001.fastq.gz; bamtofastq_S1_L002_R1_001.fastq.gz; bamtofastq_S1_L003_R1_001.fastq.gz; bamtofastq_S1_L004_R1_001.fastq.gz; bamtofastq_S1_L005_R1_001.fastq.gz; bamtofastq_S1_L006_R1_001.fastq.gz; bamtofastq_S1_L007_R1_001.fastq.gz; bamtofastq_S1_L008_R1_001.fastq.gz; bamtofastq_S1_L009_R1_001.fastq.gz; bamtofastq_S1_L0010_R1_001.fastq.gz; bamtofastq_S1_L0011_R1_001.fastq.gz; bamtofastq_S1_L0012_R1_001.fastq.gz"
    fastq_file2_guide = "bamtofastq_S1_L001_R2_001.fastq.gz; bamtofastq_S1_L002_R2_001.fastq.gz; bamtofastq_S1_L003_R2_001.fastq.gz; bamtofastq_S1_L004_R2_001.fastq.gz; bamtofastq_S1_L005_R2_001.fastq.gz; bamtofastq_S1_L006_R2_001.fastq.gz; bamtofastq_S1_L007_R2_001.fastq.gz; bamtofastq_S1_L008_R2_001.fastq.gz; bamtofastq_S1_L009_R2_001.fastq.gz; bamtofastq_S1_L0010_R2_001.fastq.gz; bamtofastq_S1_L0011_R2_001.fastq.gz; bamtofastq_S1_L0012_R2_001.fastq.gz"

}

