
params{
  // Parameters for PreprocessAnnData
  adata_rna = "example_data/adata_rna.h5ad"
  gname_rna = "example_data/cells_x_genes.genes.names.txt"
  min_genes = 100
  min_cells = 3
  // TRANSCRIPTOME_REFERENCE = "human"

  // Parameters for CreatMuData
  adata_guide = "example_data/adata_guide.h5ad"
  // guide_features = "example_data/gasperini_tss.xlsx" 

}

// if added to main workflow, do not need to include again; only include the new params

includeConfig './configs/main_pipeline_rna.config'
includeConfig './configs/main_pipeline_guide.config'
